/* Styles for the entire document */

.pageStyle {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    background-color: #FFFCEE;
    font-family: 'Rubik', sans-serif;
    margin-right: 0.5vw;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.container {
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Navbar -------------------------------------------------------------------------------------------------------------------------*/
#navbar {
    position: fixed;
    border-bottom: solid 0.08vw #FED9B7;
    background-color: #FFFCEE;
    width: 100%;
    height: 4vw;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myName {
    margin-left: 4vw;
    font-weight: 400;
    font-size: 1vw;
}

#navbarItemsContainer {
    display: flex;
    margin-right: 3vw;
}

.navbarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2.6vw;
    transition: 0.2s;
    border-radius: 1.2vw;
    padding: 0.2vw 1vw;
    margin-left: 1vw;
    
}

.textNavbar {
    font-weight: 400;
    font-size: 1vw;
}

.underline {
    width: 2vw;
    height: 0.12vw;
}

#about {
    text-decoration-color: #00AFB9;
}

#about:hover {
    background-color: #C3EAE4;
}


#work {
    text-decoration-color: #EF6A8A;
}

#work:hover {
    background-color: #FFD7DC;
}


#contacts {
    text-decoration-color: #F07167;
}

#contacts:hover {
    background-color: #FFC5B3;
}

.navbarItem:hover .underline {
    border-radius: 1.1vw;
    background-color: rgba(0, 0, 0, 0);
}

.navbarItem:hover {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    #navbar {
        border-bottom: solid 0.08vw #FED9B7;
        height: 10vw;
    }

    #myName {
        margin-left: 4vw;
        font-weight: 400;
        font-size: 4vw;
    }

    #navbarItemsContainer {
        margin-right: 3vw;
    }

    .navbarItem {
        transition: 0.2s;
        border-radius: 1.2vh;
        padding: 1vh 1vh;
        margin-left: 1vw;
    }

    .textNavbar {
        font-weight: 400;
        font-size: 4vw;
    }

    #about:hover {
        background-color: #C3EAE4;
    }

    #work:hover {
        background-color: #FFD7DC;
    }

    #contacts:hover {
        background-color: #FFC5B3;
    }

    .navbarItem:hover .underline {
        border-radius: 1.1vw;
        background-color: rgba(0, 0, 0, 0);
    }
}


/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    display: block;
    font-weight: 800;
    font-size: 20.2vw;
    text-align: center;
    height: 20.2vw;
}

#titleContainer {
    margin-top: 4vw;
    align-items: flex-end;
    height: 60vh;
}

@media only screen and (max-width: 768px) {

    #pageTitle {
        font-weight: 800;
        font-size: 20.2vw;
        text-align: center;
    }

    #titleContainer {
        margin-top: 10vw;
        align-items: center;
        height: 15vh;
    }
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    font-weight: 500;
    font-size: 2vw;
    color: #4e4e4e;
}

#presentation {
    margin-left: 25vw;
}

@media only screen and (max-width: 768px) {
    .normalText {
        font-weight: 500;
        font-size: 2vh;
        color: #4e4e4e;
    }

    #presentation {
        margin-left: 37vw;
        margin-right: 5vw;
    }

    #presentationContainer {
        height: 30vh;
    }
}

/* Skills ------------------------------------------------------------------------------------------------------------------------------ */
#skillsContainer {
    justify-content: left;
    align-content: center;
}

#skills {
    margin: 0vh 50vw 10vh 10vw;
}

#modeling {
    padding: 2.8vw 4vw;
    border-radius: 3vw;
    margin-left: 10vw;

}

#levelDesign {
    background-image: url(materials/shape_skill.svg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 5.9vw 3.5vw 5.5vw 3.8vw;

}

#development {
    padding: 2.2vw 3.8vw;
    border-radius: 5vw;
}

.skillsText {
    font-weight: 500;
    font-size: 1.3vw;
    margin-right: 3vw;
}



@media only screen and (max-width: 768px) {
    #skillsContainer {
        flex-direction: column;
        justify-content: center;
    }

    #skills {
        margin: 3vh 6vh 8vh 6vh;
    }

    #modeling {
        padding: 4.5vh 5.5vh;
        border-radius: 5vh;
        margin-left: 0;

    }

    #levelDesign {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(materials/shape_skill.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 15vh;
        width: 17vh;
    }

    #development {
        padding: 3.5vh 5.5vh;
        border-radius: 50vh;
    }

    .skillsText {
        font-weight: 500;
        font-size: 2.2vh;
        margin-right: 0;
        margin-bottom: 7vh;
    }
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* margin top + height should be = to .conteiner height*/
#workContainer {
    width: 100%;
    justify-content: right;
    align-items: flex-start;
    height: 80vh;
}

.workObject {
    margin: 1vw 1vw 0vw 0vw;
    height: 70vh;
    width: 31.4vw;
    border-radius: 1vw;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid 0.2vw #FED9B7;
}

.workText {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8vw 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 0 0 1vw 1vw;
    color: #FED9B7;
}

.category {
    font-weight: 400;
    font-size: 1vw;
}

#work1 {
    background-image: url(materials/chicken.png);
}

#work2 {
    background-image: url(materials/morte.jpg);
}

#work3 {
    background-image: url(materials/reportage.jpg);
}

/* #work4 {
    background-image: url(materials/chicken.png);
}

#work5 {
    background-image: url(materials/morte.jpg);
}

#work6 {
    background-image: url(materials/reportage.jpg);
} */

.seeAll {
    color: #9B5313;
    padding: 0.5vw 1vw;
    background-color: #FED9B7;
    border-radius: 50vw;
    font-weight: 500;
    font-size: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
}

.seeAll:hover {
    color: #FED9B7;
    background-color: #9B5313;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    #workContainer {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 70vh;
        flex-direction: column;
    }

    .workObject {
        margin: 1%;
        height: 20vh;
        width: 95%;
        border-radius: 2vw;
        transition: 0.2s;
        border: solid 0.2% #FED9B7;
    }

    .workText {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2vw 3vw;
        font-weight: 500;
        font-size: 5vw;
        border-radius: 0 0 1vw 1vw;
        color: #FED9B7;
    }

    .category {
        font-weight: 400;
        font-size: 3vw;
    }

    #work1 {
        background-image: url(materials/chicken.png);
    }

    #work2 {
        background-image: url(materials/morte.jpg);
    }

    #work3 {
        background-image: url(materials/reportage.jpg);
    }

    .seeAll {
        color: #9B5313;
        padding: 2vw 3vw;
        background-color: #FED9B7;
        border-radius: 50vw;
        font-weight: 400;
        font-size: 4vw;
        align-self: flex-end;
        margin: 1vh 2vw 0 0;
    }
}

/* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */

#contactsContainer {
    width: 100%;
    height: 12vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    border-top: solid 1px #FED9B7;
}

.contactsObject {
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
    padding: 2vw;
    margin: 0 1vw;
    border-radius: 30%;
}

.contactsObject:hover {
    cursor: pointer;
}

#instagram {
    background-image: url(materials/instagram.png);
}

#linkedin {
    background-image: url(materials/linkedin.png);
}

#mail {
    background-image: url(materials/mail.png);
}

@media only screen and (max-width: 768px) {
    #contactsContainer {
        width: 100%;
        height: 10vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 1vh;
    }

    .contactsObject {
        width: 8vw;
        height: 8vw;
        background-size: 8vw;
        padding: 5vw;
        margin: 0 2vw;
        border-radius: 30%;
    }

}

/* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

#pImageDiv {
    position: absolute;
    top: 88vh;
    left: 10vw;
    -webkit-mask-image: url(materials/google_shape.svg);
    mask-image: url(materials/google_shape.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: rotateMask 8s linear infinite;
}

#pImageDiv img {
    position: absolute;
    width: inherit;
    height: inherit;
    animation: inherit;
    animation-direction: reverse;
    transition: opacity .5s;
}

.normalImage {
    width: 15vw;
    height: 15vw;
    transition-timing-function: linear;
}

.imageSize1 {
    width: 25vw;
    height: 25vw;
    transition: 1s ease-out;
}

.imageSize2 {
    width: 20vw;
    height: 20vw;
}

.imageTransparent {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

@keyframes rotateMask {
    to {
        transform: rotate(360deg)
    }
}

.noTransitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

@media only screen and (max-width: 768px) {

    #pImageDiv {
        top: 28.5vh;
        left: 5vw;
    }

    .normalImage {
        width: 26vw;
        height: 26vw;
        transition-timing-function: linear;
    }
}