/* Styles for the entire document */

.pageStyle {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFFCEE;
    font-family: 'Rubik', sans-serif;
    margin-right: 0.5vw;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Background colors -------------------------------------------------------------------------------------------------------------------------*/

.bcolor1_1 {
    background-color: #FED9B7;
}

.bcolor1_2 {
    background-color: #FFA528;
}

.bcolor1_3 {
    background-color: #9B5313;
}

.bcolor2_1 {
    background-color: #FFC5B3;
}

.bcolor2_2 {
    background-color: #F07167;
}

.bcolor2_3 {
    background-color: #931F1F;
}

.bcolor3_1 {
    background-color: #C3EAE4;
}

.bcolor3_2 {
    background-color: #00AFB9;
}

.bcolor3_3 {
    background-color: #134B4C;
}

.bcolor4_1 {
    background-color: #FFD7DC;
}

.bcolor4_2 {
    background-color: #EF6A8A;
}

.bcolor4_3 {
    background-color: #912046;
}

/* Colors -------------------------------------------------------------------------------------------------------------------------*/

.color1_1 {
    color: #FED9B7;
}

.color1_2 {
    color: #FFA528;
}

.color1_3 {
    color: #9B5313;
}

.color2_1 {
    color: #FFC5B3;
}

.color2_2 {
    color: #F07167;
}

.color2_3 {
    color: #931F1F;
}

.color3_1 {
    color: #C3EAE4;
}

.color3_2 {
    color: #00AFB9;
}

.color3_3 {
    color: #134B4C;
}

.color4_1 {
    color: #FFD7DC;
}

.color4_2 {
    color: #EF6A8A;
}

.color4_3 {
    color: #912046;
}

/* Navbar -------------------------------------------------------------------------------------------------------------------------*/
#navbar {
    position: fixed;
    border-bottom: solid 0.08vw #FED9B7;
    background-color: #FFFCEE;
    width: 100%;
    height: 4vw;
    z-index: 2;
    top: 0;
}

#myName {
    top: 1.4vw;
    height: 1vw;
    left: 3vw;
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.navbarItem {
    position: absolute;
    text-align: center;
    top: 0.6vw;
    height: 2.6vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.textNavbar {
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2vw;
    height: 0.12vw;
    transition: 0.2s;
}

#about {
    right: 14.3vw;
    width: 5vw;
}

#work {
    right: 9.2vw;
    width: 4.6vw;
}

#contacts {
    right: 2.5vw;
    width: 6.2vw;
}

#about:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #C3EAE4;
}

#about:hover {
    color: #134B4C;
    cursor: pointer;
    font-weight: 500;
}

#work:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #FFC5B3;
}

#work:hover {
    cursor: pointer;
    color: #931F1F;
}

#contacts:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #FFD7DC;
}

#contacts:hover {
    cursor: pointer;
    color: #912046;
}

/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    display: block;
    font-weight: 800;
    font-size: 20.2vw;
    text-align: center;
    height: 20.2vw;
}

#titleContainer {
    margin-top: 4vw;
    align-items: flex-end;
    height: 60vh;
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    font-weight: 500;
    font-size: 2vw;
    color: #4e4e4e;
}

#presentation {
    margin-left: 25vw;
}



/* Skills ------------------------------------------------------------------------------------------------------------------------------ */
#skillsContainer {
    justify-content: left;
    align-content: bottom;
    height: 104vh;
}

#skills {
    margin: 10vh 50vw 10vh 10vw;
}

#modeling {
    padding: 2.8vw 4vw;
    border-radius: 3vw;
    margin-left: 10vw;

}

#levelDesign {
    background-image: url(materials/shape_skill.svg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 5.9vw 3.5vw 5.5vw 3.8vw;

}

#development {
    padding: 2.2vw 3.8vw;
    border-radius: 5vw;
}

.skillsText {
    font-weight: 500;
    font-size: 1.3vw;
    margin-right: 3vw;
}

.seeAll {
    color: #9B5313;
    padding: 0.5vw 1vw;
    background-color: #FED9B7;
    margin: 30vh 0 0vw 88vw;
    align-self: flex-end;
    border-radius: 50vw;
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* margin top + height should be = to .conteiner height*/
#workContainer {
    padding: 0vh 1vw 0 0.5vw;
    /* background-color: #FED9B7; */
    width: 200vw;
    overflow-x: scroll;
    justify-content: left;
    align-items: flex-start;
    height: 85vh;
}

.workObject {
    display: inline-block;
    margin: 1vw 0.5vw;
    height: 70vh;
    width: 31.8vw;
    border-radius: 1.3vw;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid 0.2vw #FED9B7;
}

.workText {
    background-color: #FED9B7;
    padding: 0.8vw 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 0 0 1vw 1vw;
    color: #9B5313;
}

#work1 {
    background-image: url(materials/chicken.png);
}

#work2 {
    background-image: url(materials/morte.jpg);
}

#work3 {
    background-image: url(materials/reportage.jpg);
}

#work4 {
    background-image: url(materials/chicken.png);
}

#work5 {
    background-image: url(materials/morte.jpg);
}

#work6 {
    background-image: url(materials/reportage.jpg);
}


/* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */

#contactsContainer {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#contactsSpace {
    width: 90vw;
    height: 30vh;
    background-color: #00AFB9;
}

/* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

#pImageDiv {
    position: absolute;
    -webkit-mask-image: url(materials/google_shape.svg);
    mask-image: url(materials/google_shape.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: rotateMask 8s linear infinite;
}

#pImageDiv img {
    position: absolute;
    width: inherit;
    height: inherit;
    animation: inherit;
    animation-direction: reverse;
    transition: opacity .5s;
}

.normalImage {
    width: 15vw;
    height: 15vw;
    transition-timing-function: linear;
}

.imageSize1 {
    width: 25vw;
    height: 25vw;
    transition: 1s ease-out;
}

.imageSize2 {
    width: 20vw;
    height: 20vw;
}

.imageTransparent {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

@keyframes rotateMask {
    to {
        transform: rotate(360deg)
    }
}

.noTransitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}