/* Styles for the entire document */

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFFCEE;
    font-family: 'Rubik', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Background colors -------------------------------------------------------------------------------------------------------------------------*/

.bcolor1_1 {
    background-color: #FED9B7;
}

.bcolor1_2 {
    background-color: #FFA528;
}

.bcolor1_3 {
    background-color: #9B5313;
}

.bcolor2_1 {
    background-color: #FFC5B3;
}

.bcolor2_2 {
    background-color: #F07167;
}

.bcolor2_3 {
    background-color: #931F1F;
}

.bcolor3_1 {
    background-color: #C3EAE4;
}

.bcolor3_2 {
    background-color: #00AFB9;
}

.bcolor3_3 {
    background-color: #134B4C;
}

.bcolor4_1 {
    background-color: #FFD7DC;
}

.bcolor4_2 {
    background-color: #EF6A8A;
}

.bcolor4_3 {
    background-color: #912046;
}

/* Colors -------------------------------------------------------------------------------------------------------------------------*/

.color1_1 {
    color: #FED9B7;
}

.color1_2 {
    color: #FFA528;
}

.color1_3 {
    color: #9B5313;
}

.color2_1 {
    color: #FFC5B3;
}

.color2_2 {
    color: #F07167;
}

.color2_3 {
    color: #931F1F;
}

.color3_1 {
    color: #C3EAE4;
}

.color3_2 {
    color: #00AFB9;
}

.color3_3 {
    color: #134B4C;
}

.color4_1 {
    color: #FFD7DC;
}

.color4_2 {
    color: #EF6A8A;
}

.color4_3 {
    color: #912046;
}

/* Navbar -------------------------------------------------------------------------------------------------------------------------*/
#navbar {
    position: fixed;
    border-bottom: solid 0.08vw #FED9B7;
    background-color: #FFFCEE;
    width: 100%;
    height: 4vw;
    z-index: 2;
}

#myName {
    top: 1.4vw;
    height: 1vw;
    left: 3vw;
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.navbarItem {
    position: absolute;
    text-align: center;
    top: 0.6vw;
    height: 2.6vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.textNavbar {
    position: absolute;
    font-weight: 400;
    font-size: 1vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.underline {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2vw;
    height: 0.12vw;
    transition: 0.2s;
}

#about {
    right: 14.3vw;
    width: 5vw;
}

#work {
    right: 9.2vw;
    width: 4.6vw;
}

#contacts {
    right: 2.5vw;
    width: 6.2vw;
}

#about:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #C3EAE4;
}

#about:hover {
    color: #134B4C;
    cursor: pointer;
    font-weight: 500;
}

#work:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #FFC5B3;
}

#work:hover {
    cursor: pointer;
    color: #931F1F;
}

#contacts:hover .underline {
    height: inherit;
    width: inherit;
    border-radius: 1.1vw;
    background-color: #FFD7DC;
}

#contacts:hover {
    cursor: pointer;
    color: #912046;
}

/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    position: absolute;
    font-weight: 800;
    font-size: 20.2vw;
    left: 3vw;
    top: 52vh;
    transform: translateY(-50%);
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    position: absolute;
    font-weight: 500;
    font-size: 2vw;
    color: #4e4e4e;
}

#presentation {
    top: 120vh;
    left: 40vw;
}

#skills {
    left: 10vw;
    top: 190vh;
}

/* Skills ------------------------------------------------------------------------------------------------------------------------------ */

#modeling {
    position: absolute;
    padding: 2.8vw 4vw;
    top: 222.5vh;
    left: 10vw;
    text-align: center;
    border-radius: 3vw;
}

#levelDesign{
    background-image: url(materials/shape_skill.svg);
    background-repeat: no-repeat;
    position: absolute;
    padding: 5.9vw 5vw 5.5vw 3.8vw;
    top: 215.5vh;
    left: 29vw;
    text-align: center;
    border-radius: 5vw;
}

#programming{
    position: absolute;
    padding: 2.2vw 3.8vw;
    top: 223.6vh;
    left: 46.5vw;
    text-align: center;
    border-radius: 5vw;
}

.skillsText {
    font-weight: 500;
    font-size: 1.3vw;
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */

#workContainer {
    padding: 0vh 10vw;
    position: absolute;
    background-color: #FED9B7;
    top: 270vh;
    width: 200vw;
    overflow-x: scroll;
    margin: 0 0 20vh 0;
}

.workObject {
    display: inline-block;
    
    margin: 1vw 0.5vw;
    height: 70vh;
    width: 28vw;
    border-radius: 1vw;
    background-image: url(materials/federico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

#pImageDiv {
    position: absolute;
    -webkit-mask-image: url(materials/google_shape.svg);
    mask-image: url(materials/google_shape.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: rotateMask 8s linear infinite;
}

#pImageDiv img {
    position: absolute;
    width: inherit;
    height: inherit;
    animation: inherit;
    animation-direction: reverse;
    transition: opacity .5s;
}

.normalImage {
    width: 15vw;
    height: 15vw;
    transition-timing-function: linear;
}

.imageSize1 {
    width: 25vw;
    height: 25vw;
    transition: 1s ease-out;
}

.imageSize2 {
    width: 20vw;
    height: 20vw;
}

.imageTransparent {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}

@keyframes rotateMask {
    to {
        transform: rotate(360deg)
    }
}

.noTransitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}