/* Background colors -------------------------------------------------------------------------------------------------------------------------*/

.bcolor1_1 {
    background-color: #FED9B7;
}

.bcolor1_2 {
    background-color: #FFA528;
}

.bcolor1_3 {
    background-color: #9B5313;
}

.bcolor2_1 {
    background-color: #FFC5B3;
}

.bcolor2_2 {
    background-color: #F07167;
}

.bcolor2_3 {
    background-color: #931F1F;
}

.bcolor3_1 {
    background-color: #C3EAE4;
}

.bcolor3_2 {
    background-color: #00AFB9;
}

.bcolor3_3 {
    background-color: #134B4C;
}

.bcolor4_1 {
    background-color: #FFD7DC;
}

.bcolor4_2 {
    background-color: #EF6A8A;
}

.bcolor4_3 {
    background-color: #912046;
}

/* Colors -------------------------------------------------------------------------------------------------------------------------*/

.color1_1 {
    color: #FED9B7;
}

.color1_2 {
    color: #FFA528;
}

.color1_3 {
    color: #9B5313;
}

.color2_1 {
    color: #FFC5B3;
}

.color2_2 {
    color: #F07167;
}

.color2_3 {
    color: #931F1F;
}

.color3_1 {
    color: #C3EAE4;
}

.color3_2 {
    color: #00AFB9;
}

.color3_3 {
    color: #134B4C;
}

.color4_1 {
    color: #FFD7DC;
}

.color4_2 {
    color: #EF6A8A;
}

.color4_3 {
    color: #912046;
}