body {
    position: absolute;
    width: 100%;
}

html {
    background-color: #FFC5B3;
}

#navbar {
    border-bottom: 1px solid #FFC5B3;
}

/* Project ----------------------------------------------------------------------------------------------------------------------------------------------- */

.projectContainer {
    margin: 8vw 4vw 0vw 4vw;
    background-color: #FFFCEE;
    border-radius: 2vw;
    display: block;
}

.cover {
    height: 30vw;
    border-radius: 2vw 2vw 0vw 0vw;
    background-position: center;
    background-size: cover;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 3.3vw 4vw 4vw 4vw;
}

.titleContainer {
    display: block;
}

.projectTitle {
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 0.5vw;
    color: #FFC5B3;
    text-wrap: wrap;
}

.projectTitle img {
    margin-left: 2vw;
    width: 3.5vw;
    transform: translateY(5%);
    transition: 0.2s;
}

.projectTitle img:hover {
    transform-origin: bottom left;
    transform: translateY(5%);
    transform: scale(1.05);

}

.responsibilities {
    padding: 1vw 0 0 4vw;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 2.2vw;
    flex-shrink: 3;
}

.responsibilitiesTitle {
    color: #FFC5B3;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
}

.projectText {
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.8vw;
    margin-top: 1.5vw;
}

.storyBox {
    padding: 3.8vw 4vw;
    background-color: #FFFCEE;
    border-radius: 2vw;
    width: 25vw;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.8vw;
}

.roundedImage {
    background-color: #FFFCEE;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2vw;
    flex-grow: 1;
    border: none;
}

iframe {
    width: 100%;
    height: 40vw;
}

.storyContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    padding: 1vw 4vw 4vw 4vw;
}

@media only screen and (min-width: 600px) {
    .mobileResponsibilities {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    
    .projectContainer {
        margin: 16vw 4vw 0vw 4vw;
        border-radius: 4vw;
    }

    .headerContainer {
        display: block;
    }

    .titleContainer {
        width:100%;
    }

    .projectTitle {
        font-size: 5.7vw;
        margin-bottom: 2vw;
        color: #FFC5B3;
    }

    .projectTitle img {
        margin-left: 3vw;
        width: 4vw;
        transform: translateY(5%);
        transition: 0.2s;
    }

    .projectSubcontainer {
        flex-direction: column;
    }

    .projectText {
        width: 100%;
        font-size: 2.9vw;
        line-height: 4vw;
    }

    .responsibilities {
        width: 100%;
        padding: 0;
        margin: 4vw 0 0 0;
        font-size: 2.9vw;
        line-height: 4vw;
    }

    .responsibilitiesTitle {
        font-size: 4.2vw;
        line-height: 2vw;
    }

    .desktopResponsibilities {
        display: none;
    }

    .roundedImage {
        border-radius: 4vw;
    }

    iframe {
        width: 100%;
        height: 52.25vw;
    }

    .imagesContainer {
        gap: 4vw;
        padding: 4vw 4vw 4vw 4vw;
    }

    .storyBox {
        width: 100%;
        border-radius: 4vw;
        font-size: 2.9vw;
        line-height: 4vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

    .titleContainer {
        width:65%;
    }

    .projectContainer {
        margin: 12vw 4vw 0vw 4vw;
    }

    .projectTitle {
        font-size: 4vw;
        margin-bottom: 0.5vw;
    }

    iframe {
        width: 100%;
        height: 52.5vw;
    }

    .projectText {
        font-size: 1.6vw;
        line-height: 2.6vw;
    }

    .responsibilitiesTitle {
        font-size: 2.6vw;
        line-height: 2vw;
    }

    .responsibilities {
        font-size: 1.78vw;
        line-height: 3vw;
    }

    .storyBox {
        font-size: 1.6vw;
        line-height: 2.6vw;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* Hell's Chicken ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#hellsChickenCover {
    background-image: url(../materials/hells_chicken/copertina.jpg);
    background-position: top;
}

.chickenVideo {
    width: 40%;
    height: 33vw;
}

#hellsChicken1 {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen1.jpg);
}

#hellsChicken2 {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen2.jpg);
}

#hellsChicken3 {
    width: 40%;
    height: 32vw;
    background-image: url(../materials/hells_chicken/screen3.jpg);
}

#hellsChicken4 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen4.jpg);
}

#hellsChicken5 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen5.jpg);
}

#hellsChicken6 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen6.jpg);
}

@media only screen and (max-width: 768px) {

    .storyBox {
        width: 100%;
    }

    .chickenVideo {
        width: 100%;
        height: 50vw;
    }

    #hellsChickenCover {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken1 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken2 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken3 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken4 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken5 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken6 {
        width: 100%;
        height: 50vw;
    }
}

/* irreducible ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#irreducibleVideo {
    width: 40vw;
    height: 35vw;
}

#irreducibleCover {
    background-image: url(../materials/irreducible/copertina.png);
}

#irreducible1 {
    width: 20%;
    height: 35vw;
    background-image: url(../materials/irreducible/irreducible1.png);
}

#irreducible2 {
    width: 20%;
    height: 35vw;
    background-image: url(../materials/irreducible/irreducible4.png);
}

#irreducible3 {
    width: 20vw;
    height: 35vw;
    background-image: url(../materials/irreducible/irreducible3.png);
}

@media only screen and (max-width: 768px) {

    #irreducibleVideo {
        width: 40vw;
        height: 52vw;
    }

    #irreducibleCover {
        width: 100%;
        height: 140vw;
    }

    #irreducible1 {
        width: 100%;
        height: 140vw;
    }

    #irreducible2 {
        width: 100%;
        height: 140vw;
    }

    #irreducible3 {
        width: 100%;
        height: 140vw;
    }
}

/* Meet Museum ----------------------------------------------------------------------------------------------------------------------------- */

#meetCover {
    background-image: url(../materials/meet/meet1.png);
}

#meet1 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/meet/meet1.png);
}

#meet2 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/meet/meet2.png);
}

#meet3 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/meet/meet3.png);
}

#meet4 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/meet/meet4.png);
}

@media only screen and (max-width: 768px) {
    #meetCover {
        width: 100%;
        height: 100vw;
    }

    #meet1 {
        width: 100%;
        height: 60vw;
    }

    #meet2 {
        width: 100%;
        height: 60vw;
    }

    #meet3 {
        width: 100%;
        height: 60vw;
    }

    #meet4 {
        width: 100%;
        height: 60vw;
    }
}

/* Hell's Chicken ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#dirtyVideo {
    width: 35%;
    height: 35vw;
}

#dirty1 {
    width: 80%;
    height: 45vw;
    background-image: url(../materials/dirtypiggybank/dirty1.png);
}

#dirtypiggybankCover {
    background-image: url(../materials/dirtypiggybank/copertina.png);
}

#dirty2 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/dirtypiggybank/dirty2.png);
}

@media only screen and (max-width: 768px) {
    #dirtypiggybankCover {
        width: 100%;
        height: 50vw;
    }

    #dirtyVideo {
        width: 100%;
        height: 50vw;
    }
    
    #dirty1 {
        width: 100%;
        height: 50vw;
    }
    
    #dirty2 {
        width: 100%;
        height: 50vw;
    }
}

/* Curse of the Blind Dead ----------------------------------------------------------------------------------------------------------------------------- */

#ferrariCover {
    background-image: url(../materials/ferrari/cover.jpg);
    background-position-y: 35%;
}

#ferrari1 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_1.png);
}

#ferrari2 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_8.png);
    background-size: contain;
}

#ferrari3 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_2.png);
}

#ferrari4 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_4.png);
}

#ferrari5 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_5.jpg);
}

#ferrari6 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_3.png);
}

#ferrari7 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/ferrari/ferrari_7.png);
}

#ferrari8 {
    width: 45%;
    height: 50vw;
    background-image: url(../materials/ferrari/ferrari_6.png);
    background-position: right;
}

@media only screen and (max-width: 768px) {
    #ferrariCover {
        width: 100%;
        height: 50vw;
    }

    #ferrari1 {
        width: 100%;
        height: 50vw;
    }

    #ferrari2 {
        width: 100%;
        height: 50vw;
    }

    #ferrari3 {
        width: 100%;
        height: 50vw;
    }

    #ferrari4 {
        width: 100%;
        height: 50vw;
    }

    #ferrari5 {
        width: 100%;
        height: 50vw;
    }

    #ferrari6 {
        width: 100%;
        height: 50vw;
    }

    #ferrari7 {
        width: 100%;
        height: 50vw;
    }

    #ferrari8 {
        width: 100%;
        height: 50vw;
    }
}

/* I Grrr ----------------------------------------------------------------------------------------------------------------------------- */

#futuraCover {
    background-image: url(../materials/futura/world.jpg);
}

#futura1 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_2.jpg);
}

#futura2 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_3.jpg);
    background-position: 65% 0;
}

#futura3 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_1.jpg);
    background-position: 60% 0;
}

#futura4 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/futura/roblox_1.jpg);
}

#futura5 {
    width: 60%;
    height: 35vw;
    background-image: url(../materials/futura/roblox_2.jpg);
}

#futura6 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/futura/EnergyStore.png);
}

#futura7 {
    width: 40%;
    height: 40vw;
    background-image: url(../materials/futura/buddy1.png);
    background-size: contain;
}

#futura8 {
    width: 40%;
    height: 40vw;
    background-image: url(../materials/futura/buddy2.png);
    background-size: contain;
}

#futura9 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy3.png);
    background-size: contain;
}

#futura10 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy4.png);
    background-size: contain;
}

#futura11 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy5.png);
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    #futuraCover {
        width: 100%;
        height: 50vw;
    }

    #futura1 {
        width: 100%;
        height: 50vw;
    }

    #futura2 {
        width: 100%;
        height: 50vw;
    }

    #futura3 {
        width: 100%;
        height: 50vw;
    }

    #futura4 {
        width: 100%;
        height: 50vw;
    }

    #futura5 {
        width: 100%;
        height: 50vw;
    }

    #futura6 {
        width: 100%;
        height: 50vw;
        background-size: contain;
    }

    #futura7 {
        width: 100%;
        height: 50vw;
    }

    #futura8 {
        width: 100%;
        height: 50vw;
    }

    #futura9 {
        width: 100%;
        height: 50vw;
    }

    #futura10 {
        width: 100%;
        height: 50vw;
    }

    #futura11 {
        width: 100%;
        height: 50vw;
    }
}

/* Keith Haring ----------------------------------------------------------------------------------------------------------------------------- */

#sisalCover {
    background-image: url(../materials/sisal/sisal1.jpg);
}

#sisal1 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/sisal/sisal4.jpg);
}

#sisal2 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/sisal/sisal5.jpg);

}

#sisal3 {
    width: 60%;
    height: 30vw;
    background-image: url(../materials/sisal/sisal2.jpg);
}

#sisal4 {
    width: 40%;
    height: 45vw;
    background-image: url(../materials/sisal/sisal3.jpeg);
}

@media only screen and (max-width: 768px) {
    #sisalCover {
        width: 100%;
        height: 50vw;
    }

    #sisal1 {
        width: 100%;
        height: 50vw;
    }

    #sisal2 {
        width: 100%;
        height: 50vw;
    }

    #sisal3 {
        width: 100%;
        height: 50vw;
    }

    #sisal4 {
        width: 100%;
        height: 50vw;
    }
}

/* Mario Kart Wii ----------------------------------------------------------------------------------------------------------------------------- */

#mkwiiCover {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii12.jpg);
}

.mkwiiVideo2 {
    width: 40%;
    height: 33vw;
}

#mkwii0 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii0.jpg);
}

#mkwii1 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii1.jpg);
}

#mkwii2 {
    width: 80%;
    height: 35vw;
    background-image: url(../materials/mkwii/mkwii2.jpg);

}




.mkwiiVideo3 {
    width: 40%;
    height: 33vw;
}

#mkwii3 {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii3.jpg);
}

#mkwii4 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii4.jpg);
}

#mkwii5 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii5.jpg);
}





.mkwiiVideo4 {
    width: 40%;
    height: 33vw;
}

#mkwii6 {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii6.jpg);
}

#mkwii7 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii7.jpg);
}

#mkwii8 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii8.jpg);
}






.mkwiiVideo1 {
    width: 40%;
    height: 33vw;
}

#mkwii13 {
    width: 50%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii13.jpg);
}

#mkwii14 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii14.jpg);
}

#mkwii15 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii15.jpg);
}

#mkwii16 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii16.jpg);
}

#mkwii17 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii17.jpg);
}

#mkwii18 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii18.jpg);
}


@media only screen and (max-width: 768px) {
    #mkwiiCover {
        width: 100%;
        height: 50vw;
    }

    .mkwiiVideo1 {
        width: 100%;
        height: 50vw;
    }

    .mkwiiVideo2 {
        width: 100%;
        height: 50vw;
    }

    .mkwiiVideo3 {
        width: 100%;
        height: 50vw;
    }

    .mkwiiVideo4 {
        width: 100%;
        height: 50vw;
    }

    #mkwii0 {
        width: 100%;
        height: 50vw;
    }

    #mkwii1 {
        width: 100%;
        height: 50vw;
    }

    #mkwii2 {
        width: 100%;
        height: 50vw;
    }

    #mkwii3 {
        width: 100%;
        height: 50vw;
    }

    #mkwii4 {
        width: 100%;
        height: 50vw;
    }

    #mkwii5 {
        width: 100%;
        height: 50vw;
    }

    #mkwii6 {
        width: 100%;
        height: 50vw;
    }

    #mkwii7 {
        width: 100%;
        height: 50vw;
    }

    #mkwii8 {
        width: 100%;
        height: 50vw;
    }


    #mkwii12 {
        width: 100%;
        height: 50vw;
    }

    #mkwii13 {
        width: 100%;
        height: 50vw;
    }

    #mkwii14 {
        width: 100%;
        height: 50vw;
    }

    #mkwii15 {
        width: 100%;
        height: 50vw;
    }

    #mkwii16 {
        width: 100%;
        height: 50vw;
    }

    #mkwii17 {
        width: 100%;
        height: 50vw;
    }

    #mkwii18 {
        width: 100%;
        height: 50vw;
    }
}

/* Off The Grid ----------------------------------------------------------------------------------------------------------------------------- */

#dolce_vitaCover {
    background-image: url(../materials/dolce_vita/cover.jpg);
    background-position: bottom;
}

#dolce_vitaVideo {
    width: 50%;
    height: 33vw;
}

#dolce_vita1 {
    width: 56%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/fountain_2.jpg);
}

#dolce_vita2 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/fountain_1.jpg);

}

#dolce_vita3 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/triumph_1.png);
    background-size: contain;
}

#dolce_vita4 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/triumph_2.png);
}

#dolce_vita5 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_4.png);
}

#dolce_vita6 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_7.png);
}

#dolce_vita7 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_5.png);
}

#dolce_vita8 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_6.png);
    background-size: contain;
}

#dolce_vita9 {
    width: 40%;
    height: 50vw;
    background-image: url(../materials/dolce_vita/triumph_3.png);
    background-size: contain;
}


@media only screen and (max-width: 768px) {
    #dolce_vitaCover {
        width: 100%;
        height: 50vw;
    }

    #dolce_vitaVideo {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita1 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita2 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita3 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita4 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita5 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita6 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita7 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita8 {
        width: 100%;
        height: 50vw;
    }

    #dolce_vita9 {
        width: 100%;
        height: 50vw;
    }
}