/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    display: block;
    font-weight: 800;
    font-size: 20.2vw;
    text-align: center;
    width: 100%;
    margin: 10vw 0 10vw 0;
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#workContainer {
    padding: 0 1vw;
    margin-bottom: 1.2vw;
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
}

.workObject {
    height: 28vw;
    width: 30%;
    flex-grow: 1;
    border-radius: 1vw;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid 0.2vw #FFC5B3;
}

.workObject:hover {
    transform: scale(1.03);
}

.workText {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.8vw 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 0 0 0.85vw 0.85vw;
    color: #FFC5B3;
}

.category {
    font-weight: 400;
    font-size: 1vw;
}

#hellsChicken {
    background-image: url(../materials/hells_chicken/copertina.jpg)
}

#deposito {
    background-image: url(../materials/deposito/copertina.jpg);
}

#reportage {
    background-image: url(../materials/reportage/copertina.jpg);
}

#aletheia {
    background-image: url(../materials/aletheia/copertina.jpg);
}

#backstage {
    background-image: url(../materials/backstage/copertina.jpg);
}

#grrr {
    background-image: url(../materials/grrr/copertina.jpg);
}

#haring {
    background-image: url(../materials/haring/copertina.jpg);
}

#mkwii {
    background-image: url(../materials/mkwii/copertina.jpg);
}

#offthegrid {
    background-image: url(../materials/offthegrid/copertina.jpg);
}

@media only screen and (max-width: 600px) {

#pageTitle {
    font-size: 20.2vw;
    margin: 20vw 0 10vw 0;
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#workContainer {
    padding: 0 4vw;
    margin-bottom: 4vw;
    flex-flow: column;
    gap: 4vw;
}

.workObject {
    height: 50vw;
    width: 100%;
    border-radius: 3vw;
    border: solid 0.4vw #FFC5B3;
}

.workText {
    padding: 2vw 2.5vw;
    font-size: 4.5vw;
    border-radius: 0 0 2.6vw 2.6vw;
}

.category {
    font-size: 3vw;
}
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    /* Big title -------------------------------------------------------------------------------------------------------------------------*/

    #pageTitle {
        margin: 15vw 0 10vw 0;
    }

    /* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
    #workContainer {
        padding: 0 1.5vw;
        display: flex;
        flex-flow: row wrap;
        gap: 1vw;
    }

    .workObject {
        height: 35vw;
        border-radius: 1.5vw;
        border: solid 0.3vw #FFC5B3;
    }
}

@media only screen and (min-width: 992px) {}